:root {
    --colour-white: #ffffff;
    --colour-jazzy-void: #181925;
    --colour-jazzy-nebula: #312b52;
    --colour-jazzy-zest: #46edac;
    --colour-jazzy-solar: #fdc602;
    --colour-jazzy-funk: #d951d8;
    --colour-jazzy-voltage: #6503fd;
    --colour-sensible-forest: #237365;
    --colour-sensible-gray5: #f9f9f9;
    --colour-sensible-gray10: #f5f5f5;
    --icons-vectormax: 24px;
    --icons-framesize: 32px;

    --typography-text-default: var(--colour-jazzy-zest);
    --typography-text-emphasis: var(--colour-jazzy-funk);
    --typography-text-accent: var(--colour-jazzy-solar);
    --typography-text-subtle: var(--colour-jazzy-nebula);
}