@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

/* Colours - Primatives */
:root {
	--void: #181925;
	--nebula: #312B52;
	--zest: #46EDAC;
	--solar: #FDC602;
	--funk: #D951D8;
	--voltage: #6503FD;
	--white: #ffffff;
}

/* Colours - Semantics */
:root {
	--colour-surface-background: var(--void);
	--colour-surface-subtle: var(--nebula);
	--colour-primary: var(--funk);
	--colour-secondary: var(--solar);
	--colour-tertiary: var(--zest);
}

/* Typography - Primatives */
:root {
	--font-size-header-xl: 64px;
	--font-size-header-lg: 40px;
	--font-size-header-md: 24px;
	--font-size-header-sm: 18px;
	--font-size-body-md: 14px;
	--font-size-body-sm: 12px;
	--font-weight-bold: 700;
	--font-weight-regular: 400;
}

/* Typography - Semantics */
h1 {
	font-size: var(--font-size-header-lg);
	font-weight: var(--font-weight-bold);
	text-decoration: none;
	color: var(--colour-primary);
}

h2 {
	font-size: var(--font-size-header-md);
	font-weight: var(--font-weight-bold);
	text-decoration: none;
	color: var(--colour-secondary);
}

h3 {
	font-size: var(--font-size-header-sm);
	font-weight: var(--font-weight-bold);
	text-decoration: none;
	color: var(--colour-primary);
}

p {
	font-size: var(--font-size-body-md);
	font-weight: var(--font-weight-regular);
	text-decoration: none;
	color: var(--colour-tertiary);
}

/* Useful reusables */
:root {
	--hover-opacity: 0.7;
	--hover-transition: all 0.2s;
	--nav-width: 240px;
	--max-content-width: 1500px;
}