@import url("styleguide.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "JetBrains Mono", monospace;
	background: var(--colour-surface-background);
	min-height: 100vh;
	display: flex;
}

/* Buttons ----------------------------------------*/

.button {
	display: inline-block;
	align-content: center;
}

.button:hover {
	opacity: var(--hover-opacity);
	transition: var(--hover-transition);
}

.button.md svg {
	width: 32px;
	height: 32px;
}

.button.sm svg {
	width: 24px;
	height: 24px;
}

.button.primary {
	color: var(--colour-primary);
	fill: var(--colour-primary);
}

.button.secondary {
	color: var(--colour-secondary);
	fill: var(--colour-secondary);
}

.button.tertiary {
	color: var(--colour-tertiary);
	fill: var(--colour-tertiary);
}



/* Nav ------------------------------*/

.whole-nav {
	min-width: var(--nav-width);
	height: 100vh;
	position: fixed;
	padding: 32px 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-right: 1px solid var(--colour-surface-subtle);
}

.whole-nav h3 {
	font-size: var(--font-size-header-lg);
	font-weight: var(--font-weight-bold);
	color: var(--colour-tertiary);
}

.nav-list {
	display: flex;
	flex-direction: column;
	gap: 32px;
	align-items: flex-end;
}

.nav-list a {
	color: var(--colour-tertiary);
	font-size: var(--font-size-body-md);
	text-decoration: none;
	border-bottom: 3px solid transparent;
}

.nav-list a:hover {
	opacity: var(--hover-opacity);
	transition: var(--hover-transition);
}

.nav-list a.active {
	border-bottom: 3px solid var(--colour-secondary);
}

.social-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 16px;
	width: fit-content;
}

/* ToC ---------------------------------------------*/

.toc {
	position: fixed;
	top: 32px;
	right: 32px;
	width: 200px;
	background: var(--colour-surface-subtle);
	padding: 16px 24px;
	z-index: 100;
	border-radius: 16px;
}

.toc[open] .chevron {
	transform: rotate(90deg);
}

.chevron {
	fill: var(--colour-text-h2);
	transition: var(--hover-transition);
}

.toc summary {
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	color: var(--colour-secondary);
	list-style: none;
	display: flex;
	align-items: center;
	gap: 8px;
}

.toc summary:hover {
	opacity: var(--hover-opacity);
	transition: var(--hover-transition);
}

.toc summary svg {
	width: 20px;
	height: 20px;
	fill: var(--colour-secondary);
}

.toc div {
	padding: 0px 16px;
}

.toc ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 8px 0 0 0;
	gap: 8px;
}

.toc a {
	color: var(--colour-tertiary);
	text-decoration: none;
	font-size: var(--font-size-body-md);
}

.toc a:hover {
	opacity: var(--hover-opacity);
	transition: var(--hover-transition);
}

/* Homepage -------------------------------------*/

.content-homepage {
	padding: 64px 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 48px;
	margin-left: var(--nav-width);
	max-width: var(--max-content-width);
}

.content-homepage h1 {
	font-size: var(--font-size-header-xl);
}

.button.text {
	width: fit-content;
	padding: 12px 24px;
	background: var(--colour-secondary);
	color: var(--void);
	font-size: var(--font-size-body-md);
	font-weight: var(--font-weight-bold);
	border-radius: 8px;
	text-decoration: none;
	cursor: pointer;
}

/* Universal page things ------------------------*/

.content-general {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	margin-left: 240px;
}

.page-title-box {
	padding: 32px 32px;
	border-bottom: 1px solid var(--colour-surface-subtle);
	display: flex;
	flex-direction: row;
	gap: 16px;
	justify-content: flex-start;
	align-content: center;
}

/* Projects page -------------------------*/

.pli {
	padding: 32px 32px;
	display: flex;
	flex-direction: row;
	gap: 32px;
	align-items: center;
	border-bottom: 1px solid var(--colour-surface-subtle);
	text-decoration: none;
}

.pli:hover {
	background: var(--colour-surface-subtle);
	transition: var(--hover-transition);
	opacity: 100%;
}

.pli img {
	width: 45%;
	aspect-ratio: 16/9;
	object-fit: cover;
	flex-shrink: 0;
	max-width: 640px;
}

.pli-text-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 16px;
	width: 55%;
	max-width: 764px;
}

.attribute-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	gap: 16px;
}

.attribute-list p {
	color: var(--funk);
	font-size: var(--font-size-body-sm);
}

/* About me page ---------------------------------*/

.lore {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 64px;
	gap: 64px;
	max-width: var(--max-content-width);
}

.lore img {
	width: 50%;
	aspect-ratio: 1/1;
	object-fit: cover;
	flex-shrink: 0;
	max-width: 500px;
}

.lore-text-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 16px;
}

.lore-text-container span {
	text-decoration: line-through var(--funk) 2px;
}

.lore-text-container a {
	color: var(--funk);
	font-weight: var(--font-weight-bold);
	text-decoration: none;
}

.lore-text-container a:visited {
	color: var(--funk);
}

/* Project page stuff ------------------------------*/

.tldr {
	display: flex;
	flex-direction: row;
	gap: 32px;
	justify-content: flex-start;
	padding: 32px;
	border: var(--nebula) 1px solid;
	align-content: center;
}

.tldr p {
	color: var(--solar);
}

.titleandtext {
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: stretch;
	width: 100%;
}

.content {
	padding: 64px 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
	max-width: var(--max-content-width);
}

.section-row {
	display: flex;
	flex-direction: row;
	gap: 32px;
	justify-content: flex-start;
}

.section-col {
	display: flex;
	flex-direction: column;
	gap: 32px;
	justify-content: flex-start;
}

/* Responsive -------------------------------------*/

/* @media (max-width: 1280px) {
  .lore {
    flex-direction: column;
  }
  .pli {
    flex-direction: column;
    gap: 16px;
  }
  .pli img {
    width: 100%;
    max-width: none;
  }
  .pli-desc {
    width: 100%;
  }
} */

@media (max-width: 900px) {
	body {
		flex-direction: column;
	}

	.whole-nav {
		width: 100%;
		height: auto;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 16px;
		border-right: none;
		border-bottom: 1px solid var(--nebula);
	}

	.logo {
		font-size: 24px;
		width: 1ch;
		overflow: hidden;
		white-space: nowrap;
	}

	.nav {
		flex-direction: row;
		gap: 16px;
	}

	.icon-button-md svg {
		width: 24px;
		height: 24px;
	}

	.content-homepage {
		margin-left: 0px;
		margin-top: 65px;
	}

	.content-general {
		margin-left: 0px;
		margin-top: 65px;
	}

	.page-title {
		padding: 16px 16px;
	}

	.toc {
		display: none;
	}

	.header-lg {
		font-size: 36px;
	}

	.header-md {
		font-size: 24px;
	}

	.header-sm {
		font-size: 16px;
	}

	.body-md-reg {
		font-size: 12px;
	}

	.body-md-bold {
		font-size: 12px;
	}

	.body-alt-md-reg {
		font-size: 12px;
	}
}


/* Testing space -------------------------------- */