@import url("styleguide.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: var(--void);
    color: var(--white);
    min-height: 100vh;
    display: flex;
    
}


/* Text styles ---------------------------------------*/


.header-lg {
    font-size: 64px;
    font-weight: bold;
    color: var(--funk);
    text-decoration: none;
}
.header-md {
    font-size: 40px;
    font-weight: bold;
    color: var(--funk);
    text-decoration: none;
}
.logo {
    font-size: 40px;
    font-weight: bold;
    color: var(--zest);
    text-decoration: none;
}
.header-sm {
    font-size: 24px;
    font-weight: bold;
    color: var(--solar);
    text-decoration: none;
}
.body {
    font-size: 14px;
    font-weight: regular;
    color: var(--zest);
    text-decoration: none;
}
.body-emph {
    font-size: 14px;
    font-weight: bold;
    color: var(--funk);
    text-decoration: none;
}
.body-yeet {
    font-size: 14px;
    font-weight: regular;
    color: var(--zest);
    text-decoration: line-through var(--funk) 2px;
}
.caption {
    font-size: 12px;
    font-weight: regular;
    color: var(--funk);
    text-decoration: none;
}


/* Spacers ----------------------------------------- */


.spacer-16 {
    height: 16px;
    width: 16px;
}
.spacer-24 {
    height: 24px;
    width: 24px;
}
.spacer-32 {
    height: 32px;
    width: 32px;
}
.spacer-48 {
    height: 48px;
    width: 48px;
}
.spacer-64 {
    height: 64px;
    width: 64px;
}



/* Sidebar Navigation ------------------------------*/


.sidebar {
    min-width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    background: var(--void);
    padding: 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--nebula);
}
.nav-container {
    display: flex;
    flex-direction: column;
}
.nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
}
.nav a {
    color: var(--zest);
    font-size: 14px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
}
.nav a.active {
    border-bottom: 3px solid var(--solar);
    padding-bottom: 2px;
}
.nav a:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
}
.icon-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
}
.icon-button {
    display: inline-block;
}
.icon-button img {
    width: 32px;
    height: 32px;
}
.icon-button:hover {
    opacity: 0.7;
    transition: all 0.2s;
}


/* Main Content -------------------------------------*/


.content-homepage {
    padding: 64px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    margin-left: var(--sidebar-width);
}
.content-general {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-left: var(--sidebar-width);
}
.page-title {
    padding: 32px 32px;
    border-bottom: 1px solid var(--nebula);
/*    position: sticky;
    top: 0;
    background: var(--void);
    z-index: 10;*/
}


/* About me stuff ---------------------------------*/

.lore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 64px;
    gap: 64px;
    max-width: 1500px;
}
.lore img {
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    flex-shrink: 0;
    max-width: 500px;
}
.lore-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}


/* Project list item stuff -------------------------*/


.pli {
    padding: 32px 32px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    border-bottom: 1px solid var(--nebula);
}
.pli:hover {
    background: var(--nebula);
    transition: all 0.2s;
}
.pli img {
    width: 45%;
    aspect-ratio: 16/9;
    object-fit: cover;
    flex-shrink: 0;
    max-width: 1000px;
}
.pli-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    width: 55%;
    max-width: 800px;
}
.pli-desc p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.attribute-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 16px;
}


/* Responsive -------------------------------------*/


@media (max-width: 1280px) {
    .lore {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .pli {
        flex-direction: column;
        gap: 16px;
    }
    .pli img {
        width: 100%;
    }
    .pli-desc {
        width: 100%;
    }
}


@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        border-right: none;
        border-bottom: 1px solid var(--nebula);
    }
    .logo {
        font-size: 24px;
        width: 1ch;
        overflow: hidden;
        white-space: nowrap;
    }
    .nav {
        flex-direction: row;
        gap: 16px;
    }
    .icon-button img {
        width: 20px;
        height: 20px;
    }


    .content-homepage {
        margin-left: 0px;
        margin-top: 65px;
    }
    .content-general {
        margin-left: 0px;
        margin-top: 65px;
    }
    .page-title {
    padding: 16px 16px;


    .header-lg {
        font-size: 36px;
    }
    
    .header-md {
        font-size: 24px;
    }
    
    .header-sm {
        font-size: 16px;
    }
    
    .body-md-reg {
        font-size: 12px;
    }
    
    .body-md-bold {
        font-size: 12px;
    }
    
    .body-alt-md-reg {
        font-size: 12px;
    }
}