:root {
    --void: #181925;
    --nebula: #312B52;
    --zest: #46EDAC;
    --solar: #FDC602;
    --funk: #D951D8;
    --voltage: #6503FD;
    --white: #ffffff;
    --white-20: #ffffff20;
    --sidebar-width: 240px;
}