<div class="whole-nav">

    <h3>ΩHM-UX</h3>

    <nav class="nav-list">
        <a href="index.html">Home</a>
        <a href="projects.html">Projects</a>
        <a href="about-me.html">About me</a>
    </nav>

    <div class="social-buttons-container">
        <a href="https://www.linkedin.com/in/oliverhmason/" class="button icon-md">
            <svg alt="Link to my LinkedIn profile.">
                <use href="assets/icons.svg#linkedin" fill="currentColor" />
            </svg>
        </a>
        <a href="ohm-ux@pm.me" class="button icon-md">
            <svg alt="Link to my email.">
                <use href="assets/icons.svg#envelope" fill="currentColor" />
            </svg>
        </a>

    </div>

</div>