<div class="whole-nav">

    <div class="header-md">ΩHM-UX</div>

    <div class="nav-items-container">
        <nav class="nav">
            <a href="index.html">Home</a>
            <a href="projects.html">Projects</a>
            <a href="about-me.html">About me</a>
        </nav>
    </div>

    <div class="social-buttons-container">
        <a href="https://www.linkedin.com/in/oliverhmason/" class="icon-button-md">
            <svg alt="Link to my LinkedIn profile.">
                <use href="assets/icons.svg#linkedin" fill="currentColor" />
            </svg>
        </a>
        <a href="ohm-ux@pm.me" class="icon-button-md">
            <svg alt="Link to my email.">
                <use href="assets/icons.svg#envelope" fill="currentColor" />
            </svg>
        </a>

    </div>

</div>