<div class="whole-nav">

	<h3><a href="index.html">ΩHM-UX</a></h3>

	<nav class="nav-list">
		<a href="index.html">Home</a>
		<a href="projects.html">Projects</a>
		<a href="about-me.html">About me</a>
	</nav>

	<div class="social-buttons-container">
		<a href="https://www.linkedin.com/in/oliverhmason/" class="button md tertiary"
			aria-label="Link to my LinkedIn profile" target="_blank" rel="noopener noreferrer">
			<svg aria-hidden="true" focusable="false" width="32" height="32"><use href="#linkedin"/></svg>
		</a>
		<a href="mailto:ohm-ux@pm.me" class="button md tertiary" aria-label="Link to my email">
			<svg aria-hidden="true" focusable="false" width="32" height="32"><use href="#envelope"/></svg>
		</a>
	</div>

</div>
