<details class="toc" open>
    <summary>Contents</summary>
    <ul>
        <li><a href="#overview">• Overview</a></li>
        <li><a href="#process">• Process</a></li>
        <li><a href="#results">• Results</a></li>
    </ul>
    <div class="arrow-buttons-container">
        <a href="project-msc.html" class="icon-button-sm">
            <svg alt="Previous project">
                <use href="assets/icons.svg#arrow-left" fill="currentColor" />
            </svg>
        </a>
        <a href="project-sic.html" class="icon-button-sm">
            <svg alt="Next project">
                <use href="assets/icons.svg#arrow-right" fill="currentColor" />
            </svg>
        </a>
    </div>
</details>